bin
*.o
*.mod
pamtra
.cproject
.project
*.nml
!test/nmls/*nml
fort*
!py/libs/fortran-namelist
output/
profiles/
data/
*~
.nfs*
run_LMRT*
*.prefs
Debug
test/tmp/*
!test/tmp/.gitignore
*.kate-swp
*.auto.f90
*.pyc
*.so
py/codefriedhof.py
*.png