[submodule "tools/py_usStandard"]
	path = tools/py_usStandard
	url = https://github.com/maahn/py_usStandard
[submodule "tools/dfftpack"]
	path = tools/dfftpack
	url = https://github.com/maahn/dfftpack
[submodule "tools/sphinx-fortran-extension"]
	path = tools/sphinx-fortran-extension
	url = https://github.com/maahn/sphinx-fortran-extension
