bin
*.o
*.a
*.mod
pamtra
.cproject
.project
.pydevproject
*.nml
!test/nmls/*nml
fort*
output/
profiles/
profile/*
!profile/example_input*
data
playground/
*~
.nfs*
run_LMRT*
*.prefs
Debug
test/tmp/*
!test/tmp/.gitignore
*.kate-swp
*.auto.f90
check_moments
*.pyc
*.so
*.tmp
*.png
snowCRYSTALuli
cl340d14.dda
runtestc
testc.lay
testc.out
testc.out.check
src/scatcnv
tools/pp_scripts/nodesConfig.sh
*.sqlite
gmon.out
check_moments
database
mm_notes.txt
scripts/
tools/lapack-3.5.0
