[submodule "tools/py_usStandard"]
	path = tools/py_usStandard
	url = https://github.com/maahn/py_usStandard
[submodule "tools/dfftpack"]
	path = tools/dfftpack
	url = https://github.com/maahn/dfftpack
